/* base */
@import "./base.css";
@import "./fonts.css";
@import "./theme.css";

/* layout */
@import "./layout.css";

/* components */
@import "./nav.css";
@import "./footer.css";































.getInTouch {
    text-align: center;
    margin: auto;
    width: 60%;
}

.getInTouch h2 {
    text-align: center;
}

.contactIcon {
    width: 50%;
    float: left;

    text-align: center;
}

.contactIcon img {
    width: 100%;
}

.contactIcon .image {
    width: 40px;
    margin: auto;
    margin-bottom: 10px;
}





